.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node.recently-modified {
  stroke: #64dd17;
  stroke-width: 4px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.nav-wrapper {
  padding: 0px 20px;
  background-color: #e5e8e8
}

.brand-logo img {
  height: 64px;
}

.search-input {
  position: fixed;
  top: 84px;
  right: 20px;
  width: 250px;
  padding: 10px;
  background-color: #FFF;
}

div#auth-input {
    margin-top: 20px;
    display: none;
}

div#auth-input > div {
  padding: 20px;
}

.node.searched {
  fill: #64dd17 !important;
}

@-webkit-keyframes svg_pulse {
     0% {
        stroke-width: 1.5px;
        opacity: 1;
     }

     50% {
        stroke-width: 4px;
        opacity: 0.5;
     }
     100% {
        stroke-width: 1.5px;
        opacity: 1;
     }
}

.pulse {
    -webkit-animation: svg_pulse 2s ease;
    -webkit-animation-iteration-count: infinite;
}
