.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.nav-wrapper {
  padding: 0px 20px;
  background-color: #e5e8e8
}

.brand-logo img {
  height: 64px;
}

.search-input {
  position: fixed;
  top: 84px;
  right: 20px;
  width: 200px;
}
